<head>
    <link rel="stylesheet" href="~/resources/Index.css">
</head>
<header>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN"/>
    <h1>Bienvenue dans le TP HN</h1>
</header>
<body>
    <nav>
        <ul>
            <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
            <li><a href="/Home/Index/OpinionList">Liste Avis</a></li>
        </ul>
    </nav>
    <section>
        <p>
            <a href="/Home/Index/Form">Fill out form </a>
        </p>
    </section>
</body>